@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Scrollbar (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px; /* largura da barra */
}

::-webkit-scrollbar-track {
  background: #1f1f1f; /* bg-neutral-800 */
}

::-webkit-scrollbar-thumb {
  background-color: #22c55e; /* green-500 */
  border-radius: 10px;
  border: 2px solid #1f1f1f; /* deixa o efeito mais bonito */
}

::-webkit-scrollbar-thumb:hover {
  background: #16a34a; /* green-600 */
}

/* Scrollbar (Firefox) */
* {
  scrollbar-width: thin;
  scrollbar-color: #22c55e #1f1f1f; /* thumb  track */
}
